.story {
  position: relative;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  margin-right: 10px;
  cursor: pointer;
  align-items: center;
}
.story:hover {
  transform: scale(1.07);
}
.unseen .story__avatar {
  border: 5px solid #2e81f4;
}
.story h4 {
  position: absolute;
  bottom: 20px;
  font-family: helvetica;
  font-weight: 600;
  color: white;
  left: 10px;
}
