.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row__poster:hover {
  transform: scale(1.08);
}
.row__posters {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}
.row {
  margin-left: 20px;
}
.title {
  font-family: sans-serif;
}
