* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
  }
  html, body {
    height: 100vh;
    width: 100%;
    background: #efefef;
  }
  #main-container {
    display: flex;
    flex-direction: row;
  }
  .note-container {
    display: flex;
    margin-right: 40px;
    flex-direction: column;
    width: 500px;
  }

.note-container #new-note-title {
    height: 35px;
    margin: 32px 0 24px 0;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}
.note-container #new-note-content {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #333;
}
  h1 {
    margin-top: 32px;
  }
  #side-bar {
    background: #333;
    width: 350px;
    height: 100vh;
    margin-right: 30px;
    overflow: scroll;
  }
  .stored-notes {
    color: #efefef;
    border: 1px solid #777;
    padding: 15px 10px;
  }
  .stored-notes h2 {
    font-size: 20px;
  }
  
  #create-a-note {
      font-weight: bold;
      text-align: center;
      padding: 20px 5px;
      background: rgba(45,255,255,0.2)
    }
  button {
    width: 200px;
    height: 50px;
    display: block;
    margin-top: 24px;
    border-radius: 5px;
    background: teal;
    color: #fff;
    font-size: 18px;
  }