*{
    margin: 0;
    padding: 0;
}

.text-center{
    margin-top: 30px;
}
.radio-img{
    margin-top: 80px;
    margin-left: 60px;
}

.image {
    width: 150px;
    height: 150px;
    background-position: center;
    background-color: gray;
    background-size:230px;
    display: inline-block;
    border-radius: 75px;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
}

.image:hover{
    opacity: 0.8;
}

.radio-img input{
    display:none;
}

.radio-img .image{
    cursor:pointer;
    border: 2px solid  #ffe8e8;
}

.radio-img input:checked + .image{
    border:2px solid #7198fd;
}
