*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
  }
  
  body{
    background-color: #1b998b;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blog-posts{
    width: min(1200px, 100%);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
  }
  
  .post{
    width: calc(33% - 10px);
    overflow: hidden;
    padding: 20px;
  }
  
  .post-img{
    width: 100%;
    border-radius: 6px;
    transition: .3s linear;
  }
  
  .post-content{
    background-color: #ffffffdd;
    margin: 0 20px;
    padding: 30px;
    border-radius: 6px;
    transform: translateY(-60px);
    transition: .3s linear;
  }
  
  .post-content h3{
    font-size: 16px;
    margin-bottom: 10px;
  }

  
  .date{
    font-size: 15px;
    font-style: italic;
    color: #e77f67;
  }
  
  .post:hover .post-img{
    transform: translateY(20px);
  }
  
  .post:hover .post-content{
    transform: translateY(-80px);
  }
  
  @media screen and (max-width: 1200px){
    .blog-posts{
      justify-content: center;
    }
    .post{
      width: min(600px, 100%);
    }
  }