.ourstory-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}
.ourstory-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(-black-1);
  margin-bottom: 1rem;
}
.ourstory-subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--black-1);
  margin-bottom: 2rem;
}
.ourstory-text {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--black-2);
}
@media only screen and (min-width: 668px) {
  .ourstory-wrapper {
    flex-direction: row;
    gap: 3rem;
  }
  .ourstory-img,
  .ourstory-info {
    flex: 1;
  }
  .ourstory-title {
    font-size: 3.6rem;
  }
  .ourstory-subtitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .ourstory-text {
    font-size: 1.8rem;
    max-width: 800px;
    line-height: 2.5rem;
  }
}
