@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,600&family=Raleway:wght@400;500;600&display=swap');
html {
  font-size: 10px;
  overflow-x: hidden;
}
:root {
  --green-1: #26643b;
  --green-2: #a2de96;
  --lightGreen-1: #d6e5d8;
  --lightGreen-2: #f5fcf4;
  --black-1: #3b413a;
  --black-2: #3f3c3c;
  --black-3: #5b6359;
  --white-1: #e8e8e8;
}
body {
  background-color: var(--lightGreen-2);
  overflow-x: hidden;
}
h1 {
  color: rgb(15, 0, 0);
}
section {
  padding: 100px 0;
}
@media only screen and (max-width: 768px) {
  secto {
    padding: 50px 0;
  }
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
h1,
h2,
h3,
h4 {
  font-family: 'poppins', sans-serif;
}
p {
  font-family: 'Raleway' sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 1.8rem;
}
a {
  display: inline-block;
  text-decoration: none;
}
