@font-face {
  font-family: "Sketchy";
  src: url("Sketchy.ttf");
}

@media screen and (min-width: 480px) and (max-width: 768px) {

}


body {
  background-image: url("pattern.png");
  background-size: cover;
}

.container {
  margin: 100px 150px;
}

.dialog {
  padding: 20px;
  background-color: hsla(169, 100%, 34%, 0.61);
  font-family: "Sketchy";
  color: #fdc526;
}

h1 {
  font-size: 65px;
  text-align: center;
}

.jokearea {
  text-align: center;
  font-size: 25px;
  color: white;
}

.btnarea {
  text-align: center;
  margin: 100px 0px 40px 0px ;
}
.button {
  border: none;
  background-color: #fdc526;
  color: black;
  font-size: 30px;
  cursor: pointer;
  padding: 10px ;
  margin: 0px 20px 0px 20px;
  font-family: "Sketchy";
  text-align: center;
}
