*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem;
}
div{
    padding: 0 1rem ;
}
#clock{
    font-weight: 200;
    font-size: 1.75rem;
}
button{
    padding: 10px ;
    border: 0;
    outline:0;

}
#list{
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
#list li {
    display: inline-block;
    font-family: cursive;
    margin-top: 10px;
    font-weight: 500;
    background-color: #ddd;
    box-shadow:  0 0 5px rgba(0,0,0,0.3);
}
