body {
    background: cornflowerblue;
}
h1{
    text-align: center;
    color: azure;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding: 0%;

   }
.stopwatch{
    text-align: center;
}
.time {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 8rem;
    line-height: 48vh;
}
.button {
    display: flex;
    justify-content: space-between;
    margin-left: 450px;
    margin-right: 450px;
}

.button > button {
   padding: 12px 40px;
   background-color: rgb(46, 40, 40);
   outline: none;
   border-radius: 30px;
   box-shadow: 0;
   font-weight: 900;
   font-size: 20px;
   color: white;
   outline: white;
   border: 1px solid white;
} 
.stop > button {
    background-color: red;
}
.button > button:hover {
    background-color: orange;
}
@media only screen and (max-width: 768px) {
    h1{
        font-size: 1.7rem;
        text-align: center;
        padding: 0%;
    }
    .time {
        font-size: 3rem;
        line-height: 35vh;
    }
    .button {
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
    }
    .button > button {
        padding: 6px 16px;
    }
    
}