* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

h2 {
  color: #ff6263;
  padding-top: 0.5em;
}

.topic {
  margin: 0;
  text-align: center;
  color: #ff6263;
  margin-bottom: 0.7em;
}

.input__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #ff6263;
  width: 20rem;
  height: auto;
  padding: 1em;
  border-radius: 4px;
}

#submit-btn {
  border-radius: 6px;
  padding: 0.75em 1em;
  color: #fff;
  background-color: #ff6263;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
}

#submit-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input {
  width: 100%;
  padding: 0.5em;
  border: 0.5px solid #ff6263;
  outline: none;
  margin: 0.5em;
  color: #fff;
  border-radius: 4px;
}

#container {
  padding: 2.5em;
}

p {
  color: #fff;
  text-align: right;
}

.up-down {
  color: #fff;
  background: #ff6263;
  border: none;
  outline: none;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 4px;
  margin: 0.2em;
}

.floordiv {
  display: flex;
}

.floor {
  width: 100%;
  display: flex;
  height: 100px;
  border-bottom: 1px solid #ff6263;
  position: relative;
}

.lift-div {
  width: 90px;
  height: 100px;
  margin-left: 1em;
  border: 0.5px solid red;
  z-index: 1;
  background-color: white;
  display: flex;
  overflow: hidden;
}

.lift {
  display: flex;
  margin-left: 1em;
}

.left-door {
  background: #ff6263;
  width: 50%;
  height: 100%;
  border-right: 0.5px solid #fff;
  transition: transform 2.5s linear;
  z-index: 2;
}

.right-door {
  background: #ff6263;
  border-left: 0.5px solid #fff;
  width: 50%;
  height: 100%;
  transition: transform 2.5s linear;
  z-index: 2;
}

.btn-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1em;
}

@media (max-width: 500px) {
  .input__container {
    width: 15rem;
    padding: 0.75em;
  }

  #container {
    padding: 0.5em;
  }

  .btn-div {
    margin-right: 0.5em;
  }

  .up-down {
    padding: 0.2em;
    margin: 0.1em;
  }

  .lift {
    display: flex;
    margin-left: 0.5em;
  }

  .floor {
    width: 100%;
    display: flex;
    height: 100px;
    border-bottom: 1px solid #ff6263;
    position: relative;
  }

  .lift-div {
    width: 60px;
    height: 100px;
    margin-left: 0.7em;
    border: 0.5px solid red;
    z-index: 1;
    background-color: white;
    display: flex;
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .input__container {
    width: 25rem;
    padding: 0.75em;
  }

  #container {
    padding: 1.5em;
  }

  .btn-div {
    margin-right: 1.75em;
  }

  .up-down {
    padding: 0.5em;
    margin: 0.1em;
  }

  .lift {
    display: flex;
    /* margin-left: 0.5em; */
  }

  .floor {
    width: 100%;
    display: flex;
    height: 100px;
    border-bottom: 1px solid #ff6263;
    position: relative;
  }

  .lift-div {
    width: 80x;
    height: 100px;
    margin-left: 2em;
    border: 0.5px solid red;
    z-index: 1;
    background-color: white;
    display: flex;
    overflow: hidden;
  }
}

/* media query for larger screens */

@media (min-width: 1025px) and (max-width: 1500px) {
  /* CSS */
  .input__container {
    width: 25rem;
    padding: 0.75em;
  }

  #container {
    padding: 2em;
  }

  .btn-div {
    margin-right: 2em;
  }

  .up-down {
    padding: 0.5em;
    margin: 0.1em;
  }

  .lift {
    display: flex;
    /* margin-left: 0.5em; */
  }

  .floor {
    width: 100%;
    display: flex;
    height: 100px;
    border-bottom: 1px solid #ff6263;
    position: relative;
  }

  .lift-div {
    width: 90x;
    height: 100px;
    margin-left: 2.5em;
    border: 0.5px solid red;
    z-index: 1;
    background-color: white;
    display: flex;
    overflow: hidden;
  }
}
