* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* Navbar */
.navbar {
  display: flex;
  height: 100px;
  background: rgb(7 7 54);
  color: white;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-evenly;
  padding: 20px;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  padding: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
.navbar ul li a:hover {
  color: rgb(223, 49, 78);
}
.btn {
  padding: 7px 20px 10px 21px;
  border-radius: 24px;
  border: 0;
  background: hsl(350, 80%, 55%);
  color: white;
  cursor: pointer;
}

/* Logo */
.logo span {
  font-size: 0.8rem;
}
.logo:hover {
  color: rgb(223, 49, 78);
  cursor: pointer;
}

/* Container */

.container {
  height: 100vh;
  background: #0a183d;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.box {
  width: 55%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 70px;
  font-weight: 300;
}
.box h1 {
  font-weight: 400;
  font-size: 3rem;
}
.box span {
  color: hsl(350, 80%, 55%);
  margin-right: 10px;
  font-weight: 300;
}
.pic {
  width: 45%;
}
.pic img {
  height: 550px;
  filter: drop-shadow(1rem 1rem 1rem black);
}
/* Buttons */
.music {
  margin: 10px;
  background: hsl(350, 80%, 55%);
  border: 0;
  border-radius: 24px;
  padding: 8px 24px;
  width: 250px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
#trialbtn {
  background-color: gray;
}

/* Burger */

.burger {
  position: absolute;
  top: 6px;
  display: none;
  right: 5%;
}
.line {
  height: 3px;
  background-color: white;
  border-radius: 5px;
  width: 33px;
  margin: 5px;
}
