body{
  background-image: linear-gradient(120deg, #fdf0d5 0%, #fda085 100%);
}

.tv-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.card {
    margin: 15px 0 15px 0;
    border-radius: 20px !important;
    background-color: #ff9770 !important;
  }

  .card img{
    border-radius: 20px !important;
  }

  .card-text{
    padding: 5px 5px;
    margin: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
  }

  .card-title{
    font-family: 'Gentium Book Plus', serif;
    font-size: 35px;
  }