*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #090221;
   
}
.container{
    width: 22rem;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
   
}
.gradient{
    width: 19.5rem;
    height: 14rem;
    background: linear-gradient(68deg, #516395,#614385);
    border-radius: 3px;
    margin-right: 10px;
}
/* ----Second-part----------------------- */
.color-one{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.first,.second{
    width: 7rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first>div,.second>div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.first div{
    background-color:#516395 ;
    margin-right: 10px;
}
.second div{
    background-color:#614385;
    margin-left:10px;
}
.first>span,.second>span{
    font-size: .857rem;
    font-weight: 600;
    color: black;
}

/* ---3rd-part-------------------- */
.code-box{
    width: 19.5rem;
    height: 2rem;
    background: #f0f2fc;
    color: #30304A;
    border-radius: 3px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 5px;
    overflow-x: scroll;
}
.code-box .copied-message{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 2rem;
    width: 19.5rem;
    padding: 5px;
    border-radius: 3px;
    margin-left: -5px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    visibility: hidden;
    transition: all 0.5s;
}
/* ------------button-design------------- */
.button-container{
    display: flex;
    width: 19.5rem;
    justify-content: space-between;
    align-items: center;
}
.container button{
    all: unset;
    height: 3rem;
    width: 8.5rem;
    background: #4a6ee0;
    display: flex;
    justify-content: center;
    align-items: center;
   color: white;
   border-radius: 3px;
   margin-top: 13px;
   cursor: pointer;
}
.container button::before{
    content: " ";
    position: absolute;
    height: 3rem;
    width: 8.5rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: -20px;
}
