#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {

  background: url('./blue-pink-blurred.jpg') center center/cover no-repeat;
}


body::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255 ,255,255 ,.4);
  backdrop-filter: blur(15px);
  z-index: -1;
}