body{
    background-image: url("images/bg5.jpg");
    background-size: cover;
    align-items: center; 
}

#itemCards{
    padding: 10%;

}

.calender-column{
    padding: 2% 2%;
}

.heading{
    margin-top: 1.5%;
    font-size: 6rem;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

#boxSize{
    border: none;
    height: 500px;
}

#Head{
    font-size: 5rem;
    color: white;
    font-family: 'Merriweather', serif;
}

.heading2{
    padding-top: 170px;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    font-family: 'Roboto Slab', serif,bold 700;
}

img{
    object-fit: cover;
    height: 100%;
}

.copyright{
    font-size: 2.5rem;
    font-family: sans-serif;
    color: white;
}

  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
  
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
  }
  
  header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .location .city {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .location .date {
    color: #FFF;
    font-size: 16px;
  }
  
  .current .temp {
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
  }
  
  .current .temp span {
    font-weight: 500;
  }
  
  .current .weather {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }
  
  .current .hi-low {
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
  }
  li{
    font-size: 1.5rem;
    font-weight: bold;
  }
  @media screen and (max-width: 500px) {
    .heading{
        margin-top: 1.5%;
        font-size: 4rem;
        color: white;
        font-family: 'Merriweather', serif;

        font-weight: bold;
    }
    .heading2{
      padding-top: 170px;
      font-size: 2.5rem;
      font-weight: bold;
      color: white;
      font-family: 'Roboto Slab', serif,bold 700;
  }
  }