/* .todoListCenter{
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

.todoList {
  box-sizing: border-box;
  width: 40%;
  padding: 15px 50px;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  gap: 0;
  position: relative;
  z-index: 1;
  transform: translateX(-15px);

  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
}
/* type=search */
/* 
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
} */

.checkbox {
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
  position: absolute;
}

.delete {
  position: absolute;
  right: 32.5%;
  font: bold;
  z-index: 8;
  color: #cd5c5c;
  font-size: 1rem;
}

.round {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 2;

  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* transform: translateX(431px); */
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  top: 0;
  width: 28px;
  transform: translateX(1.2rem);
  z-index: 5;
}

.round label:after {
  border: 2px solid #5DC2AF;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  top: 8px;
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"]:checked + label {
  background-color: #fff;
  border-color: #5DC2AF;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
